@charset "utf-8";
/* CSS Document */

body{
height:100%;
background-image:url("resources/base.jpg");
background-color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ccc;
}

#center{
margin:0pt auto;
width:810px;
height:auto;
}